.no-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 24px;
}

.mb-2 {
  margin-bottom: 24px;
}

.my-2 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-2 {
  margin-left: 24px;
  margin-right: 24px;
}

.container-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-titles h2 {
  font-size: 1rem;
  font-family: roboto-medium;
  background-color: rgba(1, 31, 140, 0.25);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1.5rem;
  border-radius: 4px 4px 0 0;
  color: rgba(1, 31, 140, 0.75);
  white-space: nowrap;
}

.container-titles .back-to-dashboard {
  background-color: rgba(255, 255, 255, 0.25);
  font-size: .85rem;
  color: rgba(1, 31, 140, 0.75);
  padding: .25rem .50rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-top-left-radius: 0;
}

.card {
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 12px rgba(1, 31, 140, 0.05);
          box-shadow: 0px 1px 12px rgba(1, 31, 140, 0.05);
  background-color: white;
}

.card:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.card .card-header {
  font-family: roboto-medium;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.card .card-header div {
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #011F8C;
  margin-right: .5rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 41px;
}

.card .card-header img {
  height: 12px;
  padding-top: 1rem;
  display: block;
  margin: auto;
}

.card .card-header h4 {
  padding: .75rem;
}

.card .card-body {
  padding: .5rem 2rem 1.5rem 3.75rem;
}

.card .card-body small {
  font-family: roboto-medium;
  font-size: .8rem;
  display: block;
  margin-bottom: .5rem;
}

.card-btn {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid rgba(1, 31, 140, 0.05);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card-btn .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 !important;
}

.card-btn .btn:not(:last-of-type) {
  border-bottom-right-radius: 0;
}

.card-btn .btn:last-of-type {
  border-bottom-left-radius: 0;
}

.btn {
  padding: .5rem .75rem;
  border-radius: 4px;
  font-family: roboto-medium;
  font-size: .75rem;
  color: white;
  display: inline-block;
  line-height: 1rem;
  border: 0;
}

.btn:not(:last-of-type) {
  margin-right: .5rem;
}

.btn.btn-danger {
  background-color: #C92A14;
}

.btn.btn-warning {
  background-color: #FCB624;
}

.btn.btn-primary-dk {
  background-color: #011F8C;
}

.btn.btn-gray-dk {
  background-color: #c8c8c8;
}

.badge-btn {
  background-color: #C92A14;
  border-radius: 12px;
  color: white;
  font-family: roboto-medium;
  font-size: .8rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
}

.badge-btn p {
  display: inline-block;
  position: relative;
  left: -3px;
}

.badge-btn a {
  padding-right: 8px;
}

.badge {
  font-family: roboto-medium;
  background-color: #011F8C;
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
  font-size: .8rem;
}

.badge.user {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #FCB624;
  margin: auto;
}

.icon {
  padding: 8px;
  border-radius: 8px;
  height: 16px;
}

.icon.edit {
  background-color: #FCB624;
}

.icon.trash {
  background-color: #C92A14;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-medium";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.dataTables_length,
.dataTables_filter {
  margin: 1rem 0;
  font-size: .8rem;
}

.dataTables_scroll {
  margin: 1rem 0 !important;
}

.dataTables_info,
#student-table_paginate,
#sessions-table_paginate,
#userList_paginate,
#sessionUsersList_paginate,
#documentList_previous,
#announcementList_previous,
.dataTables_paginate .paging_simple_numbers {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-family: roboto-medium !important;
}

.paginate_button.current,
.paginate_button.current:hover {
  background: #F5F5F5 !important;
  border-radius: 50% !important;
  border: 0 !important;
}

.dataTables_scrollHead tr th,
thead tr th {
  font-family: roboto-medium;
  font-weight: normal !important;
}

.del-link {
  height: 24px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
}

.form {
  display: -ms-grid;
  display: grid;
  padding: 24px;
}

.form div {
  display: -ms-grid;
  display: grid;
}

.form div label {
  margin: .75rem 0 .25rem;
  font-family: roboto-medium;
}

.form div textarea {
  font-family: roboto-medium;
  font-size: .85rem;
}

.form .form-children div {
  grid-auto-flow: column;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  grid-column-gap: 0.5rem;
}

.form .form-children div input {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: .75rem 0 .25rem;
}

.form .form-children label {
  font-family: roboto !important;
}

.form button {
  margin-top: 1rem;
}

.form .option {
  font-size: .85rem;
}

input[type=search],
input[type=password],
input[type=text],
input[type=file]::-webkit-file-upload-button,
select,
textarea {
  padding: 0.5rem;
  font-family: roboto-medium;
}

.select-date {
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.select-date select {
  width: 80px;
}

body {
  font-family: roboto !important;
  line-height: 1.25rem !important;
  letter-spacing: .02rem;
}

.navbar {
  background-color: #011F8C;
  color: white;
  padding: 12px;
  height: 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar .nav-menu-link {
  display: inline-block;
}

.navbar .nav-menu-link img {
  height: 17px;
  margin-right: 4px;
}

.navbar .nav-menu-link span {
  font-family: roboto-medium;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.nav-content {
  display: -ms-grid;
  display: grid;
  background-color: white;
  height: calc(100vh - 48px);
  width: 0;
  position: fixed;
  -webkit-transition: .35s ease-out;
  transition: .35s ease-out;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.nav-content.active {
  width: 244px;
}

.nav-content > ul {
  padding: .75rem;
  font-family: roboto-medium;
  line-height: 1.5rem;
}

.nav-content > ul li {
  padding: .5rem 1rem .5rem 2rem;
}

.nav-content .nav-account {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-top: 1px solid #c8c8c8;
}

.nav-content .nav-account li {
  padding: .5rem 0 .5rem .75rem !important;
}

.nav-content .nav-account li img {
  height: .75rem;
  margin-right: .75rem;
}

.jumbotron {
  background-color: #011F8C;
  color: white;
  height: 74px;
}

.jumbotron .h-sub {
  display: inline-block;
  margin-bottom: .75rem;
}

.jumbotron .h-display {
  font-family: roboto-medium;
  font-size: 2.25rem;
}

.grid,
.jumbotron,
.row {
  padding: 12px;
}

.grid {
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.grid .overflow-auto {
  overflow-x: auto;
}

.grid .stretch-x {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.grid .grid-element-lg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.grid .span-12 {
  grid-column: span 12;
}

.grid .span-11 {
  grid-column: span 11;
}

.grid .span-10 {
  grid-column: span 10;
}

.grid .span-9 {
  grid-column: span 9;
}

.grid .span-8 {
  grid-column: span 8;
}

.grid .span-7 {
  grid-column: span 7;
}

.grid .span-6 {
  grid-column: span 6;
}

.grid .span-5 {
  grid-column: span 5;
}

.grid .span-4 {
  grid-column: span 4;
}

.grid .span-3 {
  grid-column: span 3;
}

.grid .span-2 {
  grid-column: span 2;
}

.grid .span-1 {
  grid-column: span 1;
}

.container {
  background-color: rgba(1, 31, 140, 0.25);
  padding: 1.5rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 960px) {
  .grid-row {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 24px;
    margin-bottom: 24px;
  }
  .grid-row .card {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */