{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block body %}

	<div class="container">

		<a href="{{ path('users.management') }}">Gérer les apprenants</a>
		<a href="{{ path('sessions.management') }}">Gérer les sessions/formations</a>





	</div>
{% endblock %}
