<form method="post" action="{{ path('announcement_delete', {'id': announcement.id}) }}" style="height: 32px;"
    onsubmit="return confirm('Souhaitez-vous vraiment supprimer cette annonce ?');" class="pointer">
    
    <input type="hidden" name="_method" value="DELETE">

    <!-- hidden field where the CSRF token is generated -->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">

    <button class="no-btn"><img class="icon trash" src="{{ asset('icons/trash.svg') }}" alt=""
            title="Supprimer"></button>
</form>