{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur
{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}
<div class="container">
    {{ form_start(userForm) }}
    {{ form_rest(userForm) }}
    <button class="btn btn-primary">&Eacute;diter</button>
    {{ form_end(userForm) }}
</div>
{% endblock %}