{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block body %}

	<div class="container">

		{% include 'admin/nav.html.twig' %}
 

		<div class="row">
			<div class="col">
				<h4>Créer une annonce</h4>
				{{ form_start(announcementForm) }}
				{{ form_widget(announcementForm) }}
				<button class="btn btn-primary">
					{% if button is defined %}
						{{ button }}
					{% else %}
						+ Publier
					{% endif %}
				</button>
				{{ form_end(announcementForm) }}
			</div>
		</div>

	</div>

{% endblock %}
