{% extends 'base.html.twig' %}

{% block title %}Gestion des annonces
{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

<div class="row" style="min-height: calc(100vh - 146px - 24px)">
    <div class="">
        <div class="container-titles">
            <div class="d-flex">
                <h2>Gestion des annonces</h2>
                <h2><a href="{{ path('announcement_new') }}">Ajouter une annonces</a>
                </h2>
            </div>
            <h2 class="back-to-dashboard"><a href="{{ path('admin') }}">&#10229; Retour à l'accueil</a></h2>
        </div>
    </div>
</div>
{% endblock %}