{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}
<div class="row">
    <div class="" style="width: max-content; margin: auto;">
        <div class="container-titles">
            <h2>Messagerie</h2>
            <h2 class="back-to-dashboard"><a href="{{ path('admin') }}">&#10229; Retour à l'accueil</a></h2>
        </div>

        <div class="container">
            <div class="card container-grid chat-grid">
                {% include 'chat/_userList.html.twig' %}
                {% include 'chat/_conv.html.twig' %}
            </div>

        </div>
    </div>
</div>
{% endblock %}