<form method="post" action="{{ path('document_delete', {'id': document.id}) }}" style="height: 32px;"
    onsubmit="return confirm('&Ecirc;tes-vous s&ucirc;r de vouloir supprimer ce fichier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="no-btn"><img class="icon trash" src="{{ asset('icons/trash.svg') }}" alt="" title="Supprimer"></button>
</form>